.container {
  width: 100%;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
header {
width: 100%;
}
h3 {
float: left;
width: 100%;
}
nav {
float: right;
}
.top {
  float: right;
}
.container li {
  list-style: none;
  width: 100%;
}
.top {
  float: right;
}
.landingtext {
  border: 2px solid black;
  text-align: center;
  padding: 4px 4px;
}
.jumbotron {
  padding: 0;
  position:relative;
  width: 100%;
  background-color: white;
}
.topbanner {
  width: 100%;
  z-index: 0;
  position: relative;
  border-radius: 10px;
}
.panel-heading {
  background-color: blue
}

.card2 {
  text-align: right;
}
.interests {
  text-align: center;
}
.col-md-8 {
  padding: 10px 0 0 0;
}
.col-md-4 {
  padding: 10px 5px 5px 5px;
}
.col-md-12 {
  padding: 10px 0 0 0;
}
